@charset "UTF-8";
.bloque-conocimiento{
    margin-bottom: 2vh;
    padding: 0%;
    display: flex;
}
.logo-conocimiento{
    width: 50px;
    height: 50px;
    padding:1px; 
    margin: 1px;
}
.barra-conocimiento{
    display: flex;
    
    width: 200px;
    padding: 1px; 
    margin: 1px;
}

#mysql{
    width: 0%;
}
/* Make the image fully responsive */
.carousel-inner .img-fluid {
    width: 100%;
    height: 100%;
  } 